<launch>

    <node pkg="stargazer" name="stargazer_publisher"  type="stargazer_publisher.py" output="screen">
    	   <rosparam command="load" file="$(find stargazer)/config/stargazer.yaml"/>
    	   <rosparam command="load" file="$(find stargazer)/config/stargazer_init.yaml"/>
    	   <rosparam command="load" file="$(find stargazer)/config/sino_map.yaml"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="stargazer_broadcaster" args="0 0 1.90 0 0 0 1 base_link  stargazer 100" />
</launch>
