<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/ekf_template.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

    <!-- specify topic names to fuse in ekf_template.yaml -->
    <param name="imu_turtle" value = "/imu" />
    <param name="odom_turtle" value = "/odom" />
    <param name="odom_stargazer" value = "/marker_poses" />
    
    <!-- calculated init pose topic -->
    <param name="init_x" value = "/marker_poses/marker_pose[0]/position/x"/>
    <param name="init_y" value = "/marker_poses/marker_pose[0]/position/y"/>
    <param name="init_angle" value = "/marker_poses/marker_pose[0]/position/z"/>
    
    <!-- start the filter with the specified state -->
    <rosparam param="initial_sate">[init_x,  init_y,  0.0,
                                  0.0,  0.0,  init_angle,
                                  0.0,  0.0,  0.0,
                                  0.0,  0.0,  0.0,
                                  0.0,  0.0,  0.0]</rosparam>



  </node>
</launch>
